<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum maxime autem enim soluta porro ex dolore, quis
    eos adipisci harum facere fuga nostrum nisi sed ullam. Voluptate, accusamus. Officia consectetur ab asperiores
    aliquam quos hic quasi debitis vero magni cum quam, praesentium unde, deserunt ducimus suscipit odio obcaecati,
    accusantium dolorem.</p>
<ul class="list-group list-group-flush">
    <li class="list-group-item">An item</li>
    <li class="list-group-item">A second item</li>
    <li class="list-group-item">A third item</li>
    <li class="list-group-item">A fourth item</li>
    <li class="list-group-item">And a fifth one</li>
    <li class="list-group-item">And a sixth one</li>
    <li class="list-group-item">And a seventh one</li>
    <li class="list-group-item">And a eightth one</li>
    <li class="list-group-item">And a ninth one</li>
    <li class="list-group-item">And a tenth one</li>
</ul>
<hr>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta, eveniet. Lorem, ipsum dolor. Lorem, ipsum.</p>